<h2>Esqueceu sua senha?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), class:"form-group",html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <br>
  <div class="field">
    <%= f.email_field :email, class:"form-control", placeholder:"Email *", autofocus: true, autocomplete: "email" %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Recuperar senha", class:"btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
